@import url('./assets/styles/variables.css');

* {
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--sec-color-three);
}

.display-text {
  font-family: markazi-text, karla;
  font-weight: 200;
}
.grid-container {
  display: grid;
  height:100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 2fr 0.5fr;
  grid-template-areas:
  'header',
  'main',
  'footer';
  gap:10px;
  padding: 10px;
}
button {
  background-color: var(--primary-color-two);
  border-radius: 16px;
  border: none;
  height:25px;
  width: 150px;
  text-align: center;
  margin-bottom: 10px;

}
#main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.6fr 1fr 0.8fr 0.8fr;
  grid-template-areas:
  'cover',
  'menu',
  'reviews',
  'about';
}
header {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

header > img {
  height:80%;
}

header > .nav-bar {
  flex: auto;
}

.nav-bar > ul {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--sec-color-four);
}
#cover {
  background-color: var(--primary-color-one);
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas: 'text', 'img';
  gap:10px;
}
#menu-card {
  max-width:33%;
  min-height: 90%;
  padding: 5px;
  border:1px solid black;
  border-radius: 7px;
  overflow: hidden;
}
#manu-card > img {
  padding: none;
  width: 100%;
}
.dish-details {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}
.menu-flex {
  display: flex;
  gap: 10px;
}
#about {
  display: flex;
  justify-content: flex-start;
}
footer {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
}

img {
  border-radius: 16px;
}
form {
  display: grid;
  max-width: 200px;
  gap: 20px;
}
input,  select{
  width : 50vw;
  margin-top: 0;
  margin-left: 20px;
  height:4vh;
  padding: 2px;
  border-radius: 6px;
  border: none;
  text-align: left;
}
label {
  text-align: left;
  margin-left: 20px;
}
.booking-page {
  background-color: var(--primary-color-one);
  width:100vw;
  height:100vh;
  color: var(--sec-color-three);
  text-align: center;
  text-transform: capitalize;
}
.booking-page > h1 {
  color: var(--primary-color-two);
}
.booking-images {
  height: 20vh;
  display: flex;
  justify-content: center;
  column-gap: 10px;
  margin: 10px 5px;
}
#submit-btn {
  width: 75vw;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;

}
