@import url('./assets/styles/variables.css');

* {
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--sec-color-three);
}

.display-text {
  font-family: markazi-text, karla;
  font-weight: 200;
}
.grid-container {
  display: grid;
  height:100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 2fr 0.5fr;
  grid-template-areas:
  'header',
  'main',
  'footer';
  gap:10px;
  padding: 10px;
}
button {
  background-color: var(--primary-color-two);
  border-radius: 16px;
  border: none;
  height:25px;
  width: 150px;
  text-align: center;
  margin-bottom: 10px;

}
#main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.6fr 1fr 0.8fr 0.8fr;
  grid-template-areas:
  'cover',
  'menu',
  'reviews',
  'about';
}
header {
  display: flex;
}

header > img {
  flex: 2;
}

header > .nav-bar {
  flex: auto;
}

.nav-bar > ul {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--sec-color-four);
}
#cover {
  background-color: var(--primary-color-one);
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas: 'text', 'img';
  gap:10px;
}
#menu-card {
  max-width:33%;
  height: 90%;
  border:1px solid black;
  overflow: hidden;
}
#manu-card > img {
  margin: auto;
}
#menu-card > div {
  display: flex;
  justify-content: space-between;
}
#about {
  display: flex;
  justify-content: space-around;
}
footer {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
}

img {
  border-radius: 16px;
}